<?- include('header', {title:"About",directory:"./"}); ?>

<div class="mainheading">
    <h1 class="sitetitle">About</h1>
    <p class="lead">
        Bootstrap theme, medium style, simply perfect for bloggers
    </p>
</div>

<?- include('footer', {directory:"./"}); ?>